.section{
    background-color: black;
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 1%;
}
.slideshow-container {
    max-width: 70%;
    position: relative;
    margin:auto;
    text-align:center;
  }
  
  .slideshow-container img{
    display: none;
  }
  
  .slideshow-container img.image-active {
      display: block;
      width: 100%;
  }
  
  /* The dots/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .example-card {
    max-width: 80%;
    margin: 0%;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-left: 3px solid;
    border-left-color:  rgb(252, 0, 210);
  }
  .cards{
   
   padding: 20px;
   
  }
  .example-card a{
    text-decoration: none;
    color: white;
  }
  .row {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    display: flex;
    flex: 25%;
    max-width: 27%;
    padding: 0 20px;
    margin: 10px;
    justify-content: center;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  