<mat-toolbar class="menu">
    <a href="" routerLink=""><img clss="logo" src="https://cdn-icons-png.flaticon.com/512/3642/3642032.png" width="45px" title="Pagina Inicial"></a>
   <span class="example-spacer"></span>
   <ul class="itens_menu">
        <li><a href="/">Sobre</a></li>
        <li><a href="/">Produtos</a></li>
        <li><a href="/">Portfólio</a></li>
        <li><a href="" routerLink="formulario">cadastro</a></li>
   </ul>
   <button class="menu-butao" mat-button color="accent" [matMenuTriggerFor]="menu">Menu</button>
     <mat-menu #menu="matMenu">
          <button class="menu-item" mat-menu-item><a href="/">Sobre</a></button>
          <button class="menu-item" mat-menu-item><a href="/">Produtos</a></button>
          <button class="menu-item" mat-menu-item><a href="/">Portfólio</a></button>
          <button class="menu-item" mat-menu-item><a href="" routerLink="formulario">cadastro</a></button>
     </mat-menu>
</mat-toolbar>